:root {
  /* Yellow Theme */
  --primary-color: rgb(121, 93, 41);
  --secondary-color: rgb(238, 238, 238);
  --tertiary-color: rgb(209, 209, 209);
  --border-top-color: rgba(180, 153, 64, 0.966);
  --background-box-color: rgba(158, 149, 126, 0.795);
}
